/* Reset */

* {
  margin: 0;
  padding: 0;
}

/* Universal styles */

html {
  font-family: 'Raleway', sans-serif;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 3.5em;
  margin: 1em 3em 0 3em;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5em;
}

/* Logo */

.logo {
  font-size: 2rem;
  font-weight: 400;
}

/* Hidden logo when screen >= 685px */

.secondary {
  display: none;
}

/* Navigation bar */

.nav-bar {
  list-style: none;
  display: flex;
}

.nav-bar li {
  padding: 0.1em 1em;
}

.nav-bar li a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}

.nav-bar li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4em;
}

.active {
  font-weight: 600;
}

/* Shopping cart */

.cart {
  display: flex;
  justify-content: flex-end;
  width: 185px;
}

.cart a {
  text-decoration: none;
  color: #000;
}

.cart img {
  width: 40px;
}

/* Main headline */

.headline {
  margin: 0 3em;
  text-align: center;
}

.headline h4 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2em;
}

.headline img {
  width: 100%;
}

.main-content {
  margin: 1em 3em 0 3em;
}

/* Main content */

.main-content h4 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  padding: 1em 0;
}

.img-box-1 {
  display: flex;
  margin-top: 4em;
  justify-content: space-around;
}

.img-box-1 a {
  width: 50%;
  text-align: center;
}

.img-box-1 a img {
  width: 90%;
}

.main-content h6 {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2em;
}

.main-content p {
  font-size: 1rem;
  padding-top: 0.5em;
}

.img-box-2 img {
  width: 100%;
  padding-top: 3em;
}

/* Desktops page */

.desktops-main-content {
  
  margin: 3em;
}

.product-row {
  display: flex;
}

.product-box {
  width: 20em;
  height: 20em;
  border: 1px solid #000;
  border-radius: 0.2em;
  transition: 0.2s;
}

.product-box:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px #999;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  margin: 3em;
  border-top: 1px solid #000;
}

.footer-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2.1em;
  justify-content: space-between;
}

.footer-box h6 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 0.5em;
}

.footer-box a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.7em 0 0.1em 0;
  color: #000;
}

.social-links img {
  width: 34px;
  padding-right: 1em;
}

.social-box {
  justify-content: space-between;
}

.footer-box p {
  
}

.footer-box a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

@media only screen and (max-width: 1000px) {
  .logo {
    font-size: 1.5rem;
  }

  .nav-bar li {
    padding: 0.1em 0.75em;
  }

  .nav-bar li a {
    font-size: 0.75rem;
  }

  .cart {
    width: 135px;
  }

  .cart img {
    width: 30px;
  }

  .headline h4 {
    font-size: 1.1rem;
  }

  .main-content h4 {
    font-size: 1.5rem;
  }

  .main-content h6 {
    font-size: 1.5rem;
  }

  .main-content p {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 685px) {
  .primary {
    display: none;
  }

  .secondary {
    display: flex;
  }

  .nav-bar li {
    padding: 0.1em 0.75em;
  }

  .nav-bar li a {
    font-size: 0.5rem;
  }

  .cart {
    width: 31px;
  }

  .cart img {
    width: 20px;
  }

  .headline h4 {
    font-size: 0.75rem;
  }

  .main-content {
    margin: 1em 2em 0 2em;
    text-align: center;
  }

  .main-content h4 {
    font-size: 1rem;
  }

  .main-content h6 {
    font-size: 1rem;
  }

  .main-content p {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 485px) {
  .nav-bar li {
    padding: 0.1em 0.5em;
  }

  .header {
    margin: 0.75em 2em 0 2em;
  }

  .headline h4 {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 350px) {
  .header {
    margin: 0.5em 1.5em 0 1.5em;
  }

  .cart img {
    width: 15px;
  }
}